<h3> Congratulations! Below are the link and login credentials for access to the Yantra24x7 </h3><br>
<h3>Link: http://mms.yantra24x7.com/#!/login</h3><br>
<h3>User Name :<h3><%=@user.email_id %></h3><br>
<h3>Thank You !!</h3>

